@import './../../App.scss';  //import vars and mixins

.Choreography{
    .Page__top{
        height: 60rem;
    }

    .Quotes__slider{
        height: 30rem;
    }
    .Quotes__quote{
        padding-top: 12rem;
    }
}

//max 1300
@include desktop-sm{

}
//max 1024
@include tablet{

}
//max 768
@include mobile{


    .Choreography .Page__top{
        background-image: url('./../../media/imgs/choreography.mobile.JPG');
        background-size: cover;
        background-position: center ;
        // -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        // filter: grayscale(100%);
    }

}
// max 480
@include mobile-sm{


}
