@import './../../App.scss';  //import vars and mixins

.Masterclasses{
    .Page__top{
        height: 80vh;
        .cover{
            // background: rgba($color_dark,.6);
        }
    }
    .wrapper{
        margin: auto;
    }

}
.Masterclasses__info{
    background: $color_dark;
    padding: 22rem  10rem 10rem;
    font-size: 1.6rem;
    display: grid;

}
