@import './../../App.scss';  //import vars and mixins

.Masterclasses{
    .Page__top{
        height: 60rem;
    }

}
.Masterclasses__info{
    // padding: 12rem  10rem 12rem;
    padding-bottom: 12rem;
    font-size: 1.4rem;

}
//max 1300
@include desktop-sm{
    .Masterclasses__info{
        padding: 12rem  5rem 12rem;
    }
}
//max 1024
@include tablet{

}
//max 768
@include mobile{

    .Masterclasses .Page__top{
        background-image: url('./../../media/imgs/masterclass.mob.jpg');
        background-size: cover;
        background-position: 20% top ;

    }
}
// max 480
@include mobile-sm{
.Masterclasses__info{
    padding: 10rem 10%;
    text-align: justify;

}

}
