@import './../../App.scss';  //import vars and mixins

.Quotes{
    // background: $color_theme;
    .section__body{
        padding-bottom: 5rem;
        text-align: center;
        // display: grid;
        // grid-template-columns: 18rem 1fr;
        img{

        }
    }
}

.Quotes__quoteIMG{
    width: 16rem;
    top: -3rem;
    background: $color_theme;
    background: $color_dark;
    padding: 2rem 4rem;
    z-index: 2;
}
.Quotes__slider{
    text-align: justify;
    height: 37rem;
    // border: solid 1px $color_darker;
    border: solid .1rem #4f4f4f;
    color: $color_silver;
    display: grid;
    align-content: center;
    top: -8rem;
    overflow: hidden;
    ul{
        width: 100%;
        position: absolute;
        bottom: 0;
        padding: 0 8rem 2rem;
        text-align: right;
        li{
            height: .8rem;
            width: .8rem;
            border-radius: 100%;
            background: #2f2f2f;
            display: inline-block;
            margin-left: .7rem;
            // border: solid .1rem #4f4f4f;
            cursor: pointer;
        }
        li.current{
            background: #aaa;
        }
    }
    a{
        z-index: 2;
    }
}

.Quotes__quote{
    background: $color_theme;
    background: $color_dark;
    line-height: 2rem;
    padding: 10rem 8rem 5rem;
    display: grid;
    grid-template-columns: 12rem 1fr;
    grid-column-gap: 2rem;
    // color: $color_darker;
    // color: #fafafa;
    p{
        font-size: 1.2rem;
        margin: 2rem 0 0;
    }
    opacity: 0;
    .Quotes__text{
        left: -5rem;
        opacity: 0;
    }
    p{
        opacity: 0;
        left: 8rem;
        color: #5f5f5f;
    }

}
.Quotes__quote.current{
    opacity: 1;
    .Quotes__text,
    p{
        top: 0;
        left: 0;
        opacity: 1;
        transition: .75s ease-out;
    }


}
.Quotes_img{
    align-items: center;
    // display: grid;
    // grid-template-columns: 10rem 1fr;
    // grid-column-gap: 1rem;
    img{
        width: 10rem;
        background: none;
        border-radius: 100%;


    }
}
