@import './../../App.scss';  //import vars and mixins

.Bio{
    .Page__top{
        height: 60rem;
        background-image: url('./../../media/imgs/mg3.jpg');
        background-size: cover;
        background-position: center 70%;
        -webkit-filter: grayscale(20%); /* Safari 6.0 - 9.0 */
        filter: grayscale(20%);
    }
    .Page__top .cover{
    }
}
@include mobile{

    .Bio .Page__top{
        background-image: url('./../../media/imgs/mg3.mob.jpg');
        background-size: cover;
        background-position: center ;
        // -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        // filter: grayscale(100%);
    }
}
