@import './../../../../App.scss';

.ProjectsSlider{
    background: $color_darker;
    width: 100rem;
    height: 72rem;;
    margin: auto;
    overflow: hidden;
    z-index: 9;
    opacity: 0;
    transform: scale(.5);
    @include anim(showDetailsBox, .25s, 0s, ease-out);

}

.projectDetails.cover{

    background: $color_darker;
    grid-template-columns: 1.2fr 1fr;
    grid-column-gap: 4rem;
    text-align: left;
    font-size: 1.3rem;
    padding: 17rem 12rem;
    align-content: end;
}
//sliding anim from right

.projectDetails.right{
    opacity: 0;
    left:  10rem;
    @include anim( showDetailName, .25s, 0s, ease-out);
}
//chnage sliding anim to from left according to key pressed
.projectDetails.left{
    opacity: 0;
    left:  -10rem;
    @include anim( showDetailName, .25s, 0s, ease-out);
}
.projectDetails_lft,
.projectDetails_rgt{
    display: grid;
    align-content:end;
}
.details__name{
    text-align: left;
    font-size: 3rem;
    line-height: 1.1;
    //anim
    opacity: 0;
    top: 8rem;
    @include anim( showDetailName, .5s, .5s, ease-out);
}
.details__role{
    font-size: 2rem;
    line-height: 1.2;
    margin-bottom: 5rem;
    //anim
    opacity: 0;
    top: 5rem;
    @include anim( showDetailName, .5s, .5s, ease-out);
}
.details__subrole{
    font-size: 1.2rem;
    margin: -5rem 0 5rem;
    //anim
    opacity: 0;
    top: 5rem;
    @include anim( showDetailName, .5s, .5s, ease-out);
}
.details__desc{
    text-align: justify;

}
a.details__btn{
    margin-top: 3rem;
}
.details__logo{
    width: 100%;
    margin:0 auto 2rem;
    left: 2rem;

}
.details__links{
    text-align: center;
    z-index: 2;
    a{
        padding: 0 1rem;
    }
    img{
        height: 2rem;
        margin-bottom: 1rem;
    }
}
//=======CUSTOMISED PROJECTS=======
.projectDetails.beyondBroadwayProduction{
    .details__logo{
        top: 4rem;
    }
}
.projectDetails.mgaManagement{
    .details__logo{
        top: -1rem;
        left: 0;
    }

}
.projectDetails.choreographyProjects{
    .details__logo{
        top: -4rem;
    }
}

.projectDetails.ted{
    .details__logo{
        top: -7rem;
    }
}


.projectsDetails__nav{
    position: absolute;
    top: 4rem;
    right: 4rem;
    display: grid;
    grid-auto-rows: 5rem;
    grid-template-columns: 5rem 5rem 5rem;
    font-size: 2rem;
    color: #6f6f6f;
    z-index: 3;

    div{
        display: grid;
        align-content: center;
        text-align: center;
        border: solid .1rem #6f6f6f;
        margin: .2rem;

    }
    div:hover{
        background: #6f6f6f;
        color: $color_darker;
        cursor: pointer;
    }
}
.projectsDetails__nav_lft{
    transform: rotate(-180deg);
    padding-bottom: .7rem;
}
.projectDetails__pagination{
    position: absolute;
    bottom: 5rem;
    width: 100%;
}



//max 1300
@include desktop-sm{
    .ProjectsSlider{
        width: 80%;
        height: 65rem;
    }
    .projectDetails.cover{
        font-size: 1.2rem;
        padding: 7rem 10rem 15rem;
        grid-template-columns: 1.5fr 1fr;
    }
    .details__name{
        font-size: 2.5rem;
    }
    .details__role{
        font-size: 1.6rem;
        margin-bottom: 3rem;
    }
    .details__subrole{
        font-size: 1.2rem;
        margin: -3rem 0 3rem;

    }
    //=======CUSTOMISED PROJECTS=======
    .projectDetails.beyondBroadwayProduction{
        .details__logo{
            top: 1rem;
        }
    }
    .projectDetails.mgaAcademy{
        padding-bottom: 13rem;
    }
}
//max 1024
@include tablet{
    .ProjectsSlider{
        width: 90%;
        height: 58rem;
    }
    .projectDetails.cover{
        font-size: 1.2rem;
        padding: 0 7rem 10rem;
        grid-template-columns: 1.5fr 1fr;
    }
    .details__logo{
        width: 115%;
        left: 0;
    }
    //=======CUSTOMISED PROJECTS=======
    .projectDetails.beyondBroadwayProduction{
        .details__logo{
            top: 3rem;
        }
    }
    .projectDetails.mgaAcademy{
        padding-bottom: 7rem;
    }
}
//max 768
@include mobile{
    .ProjectsSlider{
        width: 100%;
        height: 60rem;
    }
    .projectDetails.cover{
        display: block;
    }
    // .projectDetails_rgt,
    // .projectDetails_lft{
    //     grid-column: span 2;
    // }
    // .projectDetails_left{
    //     grid-column: 2 span 1;
    // }

    .details__logo{
        width: auto;
        height: 15rem;
        position: fixed;
        top: 5rem;
        left: 5rem;
    }
    .projectDetails.beyondBroadwayProduction,
    .projectDetails.mgaManagement,
    .projectDetails.choreographyProjects,
    .projectDetails.ted{
        .details__logo{
            width: auto;
            height: 15rem;
            position: fixed;
            top: 5rem;
            left: 5rem;
        }
    }
    .projectDetails_lft{
        padding-top: 20rem;
    }
    .details__links{
        text-align: left;
        top: 4rem;
    }

}
// max 480
@include mobile-sm{
}

// mobile landscape
@include mobile-landscape{

}
