@import './../../../../App.scss';

.ProjectsSlider{
    background: $color_darker;
    width: 100rem;
    height: 72rem;
    margin: auto;
    overflow: hidden;
    z-index: 9;
    opacity: 0;
    transform: scale(.5);
    @include anim(showDetailsBox, .25s, 0s, ease-out);

}

.projectDetails.cover{

    background: $color_darker;
    grid-template-columns: 1.2fr 1fr;
    grid-auto-rows: 1fr;
    grid-column-gap: 4rem;
    text-align: left;
    font-size: 1.3rem;
    padding: 15rem 12rem 15rem;
    align-content: start;
}
//sliding anim from right

.projectDetails.right{
    opacity: 0;
    left:  10rem;
    @include anim( showDetailName, .25s, 0s, ease-out);
}
//chnage sliding anim to from left according to key pressed
.projectDetails.left{
    opacity: 0;
    left:  -10rem;
    @include anim( showDetailName, .25s, 0s, ease-out);

}

.projectDetails_rgt{
    display: grid;
    grid-template-rows:1fr auto;

}
.projectDetails_lft{
    display: grid;
    grid-template-rows: 10rem 1fr auto;


}
.details__name{
    text-align: left;
    font-size: 3rem;
    line-height: 1.1;
    //anim
    opacity: 0;
    top: 8rem;
    @include anim( showDetailName, .5s, .5s, ease-out);
}
.details__role{
    font-size: 2rem;
    line-height: 1.2;
    margin-bottom: 5rem;
    //anim
    opacity: 0;
    top: 5rem;
    @include anim( showDetailName, .5s, .5s, ease-out);
}
.details__subrole{
    font-size: 1.2rem;
    margin: -5rem 0 5rem;
    //anim
    opacity: 0;
    top: 5rem;
    @include anim( showDetailName, .5s, .5s, ease-out);
}
.details__desc{
    text-align: justify;

}

a.details__btn{
    margin-top: 2rem;
}
.details__logo{
    width: 100%;
    margin:0 auto 2rem;
    // left: 2rem;
    // border: solid 1px red;
    align-self:center;

}
.details__links{
    text-align: center;
    z-index: 2;
    a{
        padding: 0 1rem;
    }
    img{
        height: 2rem;
        margin-bottom: 1rem;
    }
}

.projectDetails.ted{
    .details__logo{
        padding: 7rem 0;
    }
}


.projectsDetails__nav{
    position: absolute;
    top: 4rem;
    right: 4rem;
    display: grid;
    grid-auto-rows: 5rem;
    grid-template-columns: 5rem 5rem 5rem;
    font-size: 2rem;
    color: #6f6f6f;
    z-index: 3;

    div{
        display: grid;
        align-content: center;
        text-align: center;
        // border: solid .1rem #6f6f6f;
        margin: .2rem;

    }
    div:hover{
        // background: #6f6f6f;
        color: $color_darker;
        background: $color_theme;
        cursor: pointer;
    }
}
.projectsDetails__nav_lft{
    transform: rotate(-180deg);
    padding-bottom: .7rem;
}
.projectDetails__pagination{
    position: absolute;
    bottom: 5rem;
    width: 100%;
}



//max 1300
@include desktop-sm{
    .ProjectsSlider{
        width: 80%;
        height: 65rem;

    }
    .projectDetails.cover{
        font-size: 1.2rem;
        padding: 12rem 10rem 12rem;
        grid-template-columns: 1.5fr 1fr;
    }

    .details__name{
        font-size: 2.5rem;
    }
    .details__role{
        font-size: 1.6rem;
        margin-bottom: 3rem;
    }
    .details__subrole{
        font-size: 1.2rem;
        margin: -3rem 0 3rem;

    }


}
//max 1024
@include tablet{
    .ProjectsSlider{
        width: 90%;
        height: 58rem;
    }
    .projectDetails.cover{
        font-size: 1.2rem;
        padding: 10rem 6rem 10rem;
        grid-template-columns: 1.5fr 1fr;
        grid-gap: 0;
    }
    .projectDetails_lft{
        grid-template-rows: 10rem 1fr auto;
        p{
            width: 100%;
        }
    }
    .details__logo{
        left: 2rem;
    }



}
//max 768
@include mobile{
    .ProjectsSlider{
        width: 90%;
        height: 59rem;
        .btn{
            width: 18rem;
            font-size: 1.2rem;
            padding: 1.2rem 0;
            top: 4rem;
        }
    }
    .projectDetails.cover{
        padding: 12rem 5rem 7rem;
        grid-template-rows: auto 5rem;
        grid-template-columns: 1fr;
        align-content: center;
        p{
            width: 100%;
        }
    }

    .details__name{
        font-size: 2rem;
        text-align: left;
    }
    .projectDetails_rgt,
    .projectDetails_lft{
        display: block;

    }


    .details__logo{
        display: none;
    }

    .details__links{
        text-align: left;
        top: -5rem;
        img{
            height: 1.6rem;
            margin-right: 0;
        }
    }
    .projectsDetails__nav{
        grid-auto-rows: 4rem;
        grid-template-columns: 4rem 4rem 4rem;
        font-size: 1.8rem;
        top: 2rem;

    }
    .projectsDetails__nav_lft{
        padding-bottom: .4rem;
    }

}
// max 480
@include mobile-sm{
    .ProjectsSlider{
        width: 94%;
    }
    .projectDetails.cover{
        padding: 12rem 10% 7rem;
    }

    .details__role{
        font-size: 1.4rem;
        text-align: left;
    }
    a.details__btn{
        margin-top: 2rem;
        font-size: 1.3rem;
    }

    .projectsDetails__nav_lft{
        padding-bottom: .5rem;
    }

}

// mobile landscape
@include mobile-landscape{

}
