@import './../../App.scss';  //import vars and mixins

.Contact{
    .SocialMedia{
        grid-column: span 2;
        text-align: center;
        margin-top: 1rem;
    }
    a{
        padding: .6rem;
        img{
            height: 1.8rem;
        }
    }
    b{
        font-size: 2.4rem;
        line-height: 2;
        top: -1rem;
    }


}
.murrayEmail{
    font-size: 2.6rem;
}
.Contact__section{
    padding: 10rem 2rem;
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.6;


}
.Contact__media{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: left;
    grid-column-gap: 3rem;
    p{
        margin:.3rem 0 0;
    }
    p:nth-child(odd){
        text-align: right;
        font-weight: bold;
    }
}

//max 1300
@include desktop-sm{

}
//max 1024
@include tablet{

}
//max 768
@include mobile{
    .Contact{
        b{
            font-size: 1.8rem;
        }
    }
    .murrayEmail{
        font-size: 1.8rem;
    }
    .Contact__media{
        grid-template-columns: 1fr;
        text-align: center;
        p:nth-child(odd){
            text-align: center;
        }
    }


}
// max 480
@include mobile-sm{

}
