@import './../../App.scss';  //import vars and mixins

.Home{
    .Nav__brand{
        display: none;
    }
    .Nav__media{
        display: block;
    }
    .Nav__pages{
        a:first-child{
            display: none;
        }
    }
    .Page__top{
        display: none;
    }
}
