@import './../../../App.scss';  //import vars and mixins

.About{

    p:first-of-type{
        font-size: 1.6rem;
        font-weight: bold;
    }

}
//max 1300
@include desktop-sm{

}
//max 1024
@include tablet{

}
//max 768
@include mobile{

}
// max 480
@include mobile-sm{


}
