@import './../../../App.scss';


.Clients{
    background: $color_dark;
    padding: 10rem 0 10rem;
    top: -.2rem;
    margin-top: 0;
    text-align:left;
    .section__title{
        top: 12rem;
    }
    .wrapper{

        width: 104rem;
        margin: auto;
    }

}
.Clients__logo{
    display: inline-block;
    margin: 2.5rem 3rem 0 0;
    left:1.5rem;
    img{
        height: 4.2rem;
         opacity: .8;
    }


}
.Clients__logo.logo_falkirkHerald{
    margin: 2.5rem 4rem 0 2rem;
}
.Clients__logo.logo_montpeliers{
    margin: 2.5rem 4rem 0 1rem;
}
.Clients__logo.logo_hit{
    margin-left: 11rem;
}
//max 1300
@include desktop-sm{
    .Clients .wrapper{
        width: 81rem;
    }
    .Clients__logo{
        margin: 2rem 3rem 0 0;
    }
    .Clients__logo.logo_falkirkHerald,
    // .Clients__logo.logo_montpeliers,
    .Clients__logo.logo_hit{
        margin: 2rem 3rem 0 0;
    }
    .Clients__logo.logo_harveyNichols{
        margin-left: -1.5rem;
    }
    .Clients__logo.logo_murrayfield{
        margin-right: .5rem;
    }
    .Clients__logo.logo_radissonBlu{
        margin-right: 0;
        left: 3rem;
    }
    .Clients__logo.logo_jackWills,
    .Clients__logo.logo_zealExperiential{
        margin-left: 1.5rem;
        margin-right: 3.5rem;
    }
    .Clients__logo.logo_edinburghZoo,
    .Clients__logo.logo_rossFountain{
        margin-left: 1rem;
        margin-right: 3.5rem;
    }
    .Clients__logo.logo_sykes{
        margin-left: 34rem;
    }
}
//max 1024
@include tablet{
    .Clients .wrapper{
        width: 63rem;
    }
    .Clients__logo{
        margin: 2rem 2rem 0 0;
        left:1rem;
        img{
            height: 3.8rem;
        }


    }
    .Clients__logo.logo_falkirkHerald,
    .Clients__logo.logo_montpeliers,
    .Clients__logo.logo_hit,
    .Clients__logo.logo_murrayfield,
    .Clients__logo.logo_radissonBlu,
    .Clients__logo.logo_jackWills,
    .Clients__logo.logo_zealExperiential,
    .Clients__logo.logo_edinburghZoo,
    .Clients__logo.logo_harveyNichols,
    .Clients__logo.logo_rossFountain{
        margin: 2rem 3rem 0 0;
        left: 0;
    }
    .Clients__logo.logo_sykes{
        margin-left: 24rem;
    }
    .Clients__logo.logo_bos{
        margin-left: 3rem;
        margin-right: 5rem;
        left: 13.5rem;
    }
    .Clients__logo.logo_deutscheBank{
        margin-right: 7rem;
        left: -12.5rem;
    }
    .Clients__logo.logo_thePAexchange{
        margin-left: 2rem;
    }
    .Clients__logo.logo_bp{
        margin-left: 1rem;
    }
    .Clients__logo.logo_hiltonEdinburgh{
        left: 3rem;
    }
    .Clients__logo.logo_harveyNichols,
    .Clients__logo.logo_scotishHotelAwards,
    .Clients__logo.logo_irnBru,
    .Clients__logo.logo_balmoral{
        margin-left: 1.2rem;
    }
    .Clients__logo.logo_harveyNichols{
        left: 1rem;
    }
    .Clients__logo.logo_gleneagelsHotel{
        margin-left: -1rem;
    }
}
//max 768
@include mobile{
    .Clients .wrapper{
        width: 40rem;
    }
    .Clients__logo.logo_sykes,
    .Clients__logo.logo_bos,
    .Clients__logo.logo_deutscheBank,
    .Clients__logo.logo_thePAexchange,
    .Clients__logo.logo_bp,
    .Clients__logo.logo_hiltonEdinburgh,
    .Clients__logo.logo_harveyNichols,
    .Clients__logo.logo_scotishHotelAwards,
    .Clients__logo.logo_irnBru,
    .Clients__logo.logo_balmoral,
    .Clients__logo.logo_harveyNichols,
    .Clients__logo.logo_gleneagelsHotel{
        margin: 1.5rem 1rem 0;
        left: 0;
    }
    .Clients__logo{
        margin: 1.5rem 1rem 0;
        left:0;
        img{
            height: 3rem;        }
    }
    .Clients__logo.logo_montpeliers{
        margin-left: -1rem;
        margin-right: 0;
    }
    .Clients__logo.logo_rossFountain{
        margin-bottom: .7rem;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
    .Clients__logo.logo_hit{
        left: 1.5rem;
        margin-right: 0;
    }
    .Clients__logo.logo_hiltonEdinburgh{
        margin-left: 3rem;
        margin-right: 4rem;
    }
    .Clients__logo.logo_falkirkHerald{
        margin-left: 1rem;
        margin-right: 3rem;
    }
    .Clients__logo.logo_sykes{
        margin-top: 2rem;
    }
    .Clients__logo.logo_assemblyRooms,
    .Clients__logo.logo_unionSquare{
        margin-left: 2rem;
        margin-right: 2rem;
    }
}
// max 480
@include mobile-sm{
    .Clients .wrapper{
        width: 90%;
        text-align: center;
    }
    .Clients__logo.logo_montpeliers,
    .Clients__logo.logo_rossFountain,
    .Clients__logo.logo_hit,
    .Clients__logo.logo_hiltonEdinburgh,
    .Clients__logo.logo_falkirkHerald,
    .Clients__logo.logo_sykes,
    .Clients__logo.logo_assemblyRooms,
    .Clients__logo.logo_unionSquare{
        margin: 1.5rem 1rem 0;
        left:0;
    }
}
