@import './../../../App.scss';


.Clients{
    padding: 12rem 0;
    img{
        height: 4rem;
        margin: 1.5rem;
        opacity: .8;
    }

}

//max 1300
@include desktop-sm{
    .Clients img{
        height: 3.5rem;
        margin: 1rem;
    }
    .Clients img:last-child{
        display: none;
    }

}
//max 1024
@include tablet{
    .Clients img:last-child{
        display: inline-block;
    }

}
//max 768
@include mobile{
    .Clients{
        padding: 8rem 0;
    }
    .Clients img:nth-child(38),
    .Clients img:nth-child(40){
        display: none;
    }
    .Clients img{
        height: 3rem;
        margin: 1rem .7rem;
    }


}

// max 480
@include mobile-sm{
    .Clients img{
        height: 2.7rem;
        margin: .7rem .5rem;
    }

    .Clients img:nth-child(9){
        display: none;
    }


}
