@import './../../App.scss';  //import vars and mixins
.Cookies .Page__top{
    color: #e5e5e5;
}
.Cookies__body{
    color: $color_silver;
    text-align: left;
    font-size: 1.4rem;
    width: 70%;
    margin: auto;
    padding: 12rem 0 10rem;
    b{
        font-size: 1.8rem;
        display: block;
        line-height: 1.4;
        margin: 4rem 0 0;
        color: #e5e5e5;
        text-align: left;
    }
    p{
        margin: 1rem 0;
    }
    p.color_themed{
        margin-top: 0;
        margin-bottom: 4rem;
        b{
            font-size: 2rem;
            font-weight: 400;
        }
    }


}
.cookies__list{
    width: 80%;
    b{
        font-size: 1.2rem;
    }
    padding: 1rem 6rem 4rem;
    margin: 5rem auto 6rem;
    background: $color_darker;
    line-height: 1.4;
    span{
        width: 30rem;
        display: block;
        margin-bottom: 2rem;
        column-count: 3;
        padding: 2rem 0;
    }
}
//max 1300
@include desktop-sm{

}
//max 1024
@include tablet{
    .Cookies__body{
        p.color_themed{
            b{
                font-size: 1.6rem;
                font-weight: 400;
            }
        }
    }
}
//max 768
@include mobile{
    .Cookies__body{
        padding:5rem 0;
        width: 80%;
        b{
            font-size: 1.5rem;
        }
    }
    .cookies__list{
        padding-left: 4rem;
        padding-right: 3rem;
        width: 100%;
        span{
            width: 22rem;
        }
    }
}
// max 480
@include mobile-sm{

}
