@import './../../../App.scss';

.CurrentProjects{
    background: none;
    // display: none; //anim
    margin-top: -14rem;
    opacity: 0;
    top: 10rem;
    @include anim( slideInCPs, .7s, 0s, ease-out);
    color: #bfbfbf;
}

.projects{
    width: 100rem;
    display: grid;
    grid-auto-rows: 23rem;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 1rem;
    margin: auto;
    text-align: center;
    overflow: hidden;
}
.project{
    background:$color_darker;
    box-shadow: 0rem 1rem 2rem .5rem rgba(21,21,21, .5);
    grid-column: span 3;
    display: grid;
    align-content: center;
    overflow: hidden;
    cursor: pointer;
}
.ted,
.mgaAcademy,
.beyondBroadwayProduction{
    grid-column: span 4;
    .project__logo{
        width: 80%;
    }
}
.project__logo{
    width: 100%;
    padding: 3rem ;
    margin: auto;
    transition: .25s ease-out;

}
// .project__role.cover{
//     padding:2rem;
//     font-size: 1.6rem;
//     line-height: 1.2;
//     text-align: center;
//     background: none;
//     color: $color_theme;
//     cursor: pointer;
//     //anim
//     opacity: 0;
//     transform: scale(.5);
//
//
// }

.projects:hover .project__logo{
    opacity: .3;
}
.project:hover .project__logo{
    opacity: 1;
}
// .projects:hover .project:hover{
//      // opacity: 0;
//      // transition: 0s ;
//      transform: scale(1.1);
//      transition: .5s ease-out;
//      z-index: 3;
// }

// .project:hover .project__role{
//     opacity: 1;
//     top: 0;
//     transform: scale(1);
//     transition: .5s  ease-out;
//
// }


//max 1300
@include desktop-sm{
    .projects{
        width: 80rem;
        grid-auto-rows: 17.5rem;
    }
    .project__logo{
        padding: 1rem;
        width: 80%;
    }
    .project__role.cover{
        padding:1.5rem;
        font-size: 1.2rem;
    }

}
//max 1024
@include tablet{
    .projects{
        width: 64rem;
        grid-auto-rows: 14.5rem;
    }
    .project__logo{
        padding: 1rem;
        width: 90%;
    }

}
//max 768
@include mobile{

    .projects{
        // border: solid 1px red;
        grid-template-columns: 1fr 1fr;
        width: 40rem;
    }
    .project{
        grid-column: span 1;
    }
    .ted,
    .mgaAcademy,
    .beyondBroadwayProduction{
        grid-column: span 1;
    }
    .ted{
        grid-column: span 2;
        // grid-row: 1;
        .project__logo{
            width: 50%;
            padding: 1rem;
        }
    }

}
// max 480
@include mobile-sm{

    .projects{
        width: 85vw;
    }


    .project__logo{
        padding: 0.7rem;
    }

}

// mobile landscape
@include mobile-landscape{
    .CurrentProjects{
        margin-top: -7rem;
    }

}
