@import './../../../App.scss';  //import vars and mixins

.Downloads{
    color: $color_black;
}
.Downloads__link{
    cursor: pointer;
    color: #eee;
    padding: 3rem 0;

}
.Login{
    background: #efefef;
    padding-bottom: 5rem;
    input{
        text-align: center;
        background: none;
        border: solid .2rem $color_theme;
        border-radius: 2.5rem;
        width: 30rem;
        padding: 1rem 2rem;
        font-size: 1.4rem;
        // color: #fff;
    }
    .btn{
        background: $color_theme;
        color: $color_black;
        width: 13rem;
        font-size: 1.2rem;
        padding: 1.2rem;
        margin-left: 2rem;

    }
}
.Login_err{
    font-size: 1.1rem;
    position: absolute;
    bottom: 1rem;
    text-align: center;
    width: 100%;
}
.Gallery{
    background: #efefef;
    padding: 7rem 0;
    section{
        background: none;
        display: grid;
        // grid-template-columns: 1fr 1fr;
    }

}
.Gallery__close{
    position: absolute;
    right: 8rem;
    top: 3rem;
    font-size: 5rem;
    cursor: pointer;
    color: #c5c5c5;
}
.Thumbnail{
    display: grid;
    grid-template-columns: 1fr auto;
    grid-column-gap: 5vw;
    width: 90%;
    padding: 7rem 5rem;
    // border-bottom: solid .1rem #c5c5c5;
    margin: 2rem auto;
    background: #111;
    color: #fff;

}
.Thumbnail:nth-child(odd){
}
.Thumbnail:last-child{
    border-bottom: none;
}

.Thumbnail__img{
    margin: auto;
    height: 43rem;
}
.Thumbnail__img_portrait{
}
.Thumbnail__img_landscape{
}

.Thumbnail__btns{
    width: 22vw;
    text-align: left;
    display: grid;
    align-content: end;
    padding-bottom: 3rem;
    // padding-left: 10%;
    div{
        margin-bottom: 2rem;
        padding-left: 2rem;
    }
    .btn{
        border:none;
        background: #fff;
        color: #111;
        display: block;
        margin: 1.5rem 0 0;
        font-size: 1.3rem;
        padding: 1.5rem 0;

    }
    .btn:hover{
        color: #eee;
        background: $color_theme;
        transition: .25s;
    }
}
.Thumbnail__loader{
    width: 100%;
    height: 100%;
    background: #efefef;
    position: absolute;
    display: grid;
    align-content: center;
    img{
        width: 8rem;
        margin: auto;
        animation: imgloader 1s .5s infinite linear;
        margin-bottom: 1rem;
    }
}
@keyframes imgloader{
    from{
        opacity: 1;
    }
    to{
        opacity: 1;
        transform: rotate(360deg);
    }
}
