@import './../../../App.scss';  //import vars and mixins

.Top{
    height: 80vh;

    //anim for iOs
    .animBox_title{
        color: $color_theme;
        font-size: 3.5rem;
        margin-bottom: .7rem;
        text-transform: uppercase;
        letter-spacing: 25rem;
        opacity: 0;
        @include anim(murrayGrantAnim, 1.7s, 0.2s, cubic-bezier(.25,.2,.2,1.15), 0.8rem)
    }

    .animBox_subtitle{
        text-transform: uppercase;
        font-size: 1.4rem;
        opacity: 0;
        @include anim(enterpreneurtAnim, .7s, 2s, ease-out, 0.4rem)
    }


}
.animContainer{
    width: 100rem;
    margin: auto;
    overflow: hidden;
    .animBox{
        width: 500%;
        left: -200%;
        text-align: center;
    }
}
