// var
$color_black:     #151515;
$color_dark:      #1f1f1f;
$color_darker:    #232323;
$color_theme:     #c8ab85;

// mixins
@mixin desktop-sm{
    @media only screen and (max-width: 1300px) {
        @content;
    }
}
@mixin tablet{
    @media only screen and (max-width: 1024px) {
        @content;
    }
}
@mixin mobile{
    @media only screen and (max-width: 768px) {
        @content;
    }
}
@mixin mobile-sm{
    @media only screen and (max-width: 480px) {
        @content;
    }
}
////max 1300
// @include desktop-sm{
//
// }
////max 1024
// @include tablet{
//
// }
////max 768
// @include mobile{
//
// }
//// max 480
// @include mobile-sm{
//
// }

@mixin anim($name, $time, $delay, $timing-function:linear, $letterSpacing:0rem) {
    animation: #{$name} #{$time} #{$delay} forwards #{$timing-function};
    @include keyframe($name, $letterSpacing);
}
@mixin keyframe($name, $letterSpacing){
    @keyframes #{$name}{
        to{
            left: 0;
            opacity: 1;
            top: 0;
            letter-spacing: $letterSpacing;
            transform: scale(1);
        }

    }
}
body{
    background: $color_black;
    color: #fff;

}
.font_themed{
    font-family: 'Montserrat', sans-serif;
}
.color_themed{
    color: $color_theme;
}

.wrapper{
    width: 120rem;
    margin: auto;
}

section{
    align-content: center;
    background: $color_dark;
    display: grid;
    margin: 4rem auto;
    width: 90%;
}
.section__title{
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    font-size: 1.6rem;
    text-transform: uppercase;
    position: absolute;
    top:12rem;
    z-index: 8;
    text-align: center;
}
.section__title:after,
.section__title:before{
    content:"";
    display: inline-block;
    width: 4rem;
    height: .4rem;
    border-top: solid .1rem #fff;
}
.section__title:before{
    margin-right: 1.5rem;

}
.section__title:after{
    margin-left: 1rem;
}

.cover{
    align-content: center;
    display: grid;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
// .animated{
//     opacity: 0;
//     top: 5rem;
// }
// .animated.show{
//     opacity: 1;
//     top: 0;
//     transition: .5s ease-out;
// }
.btn{
    display: inline-block;
    padding: 1.2rem 0;
    width: 24rem;
    text-align: center;
    border:solid .2rem $color_theme;
    border-radius: 2.5rem;
    color: $color_theme;
    font-size: 1.6rem;
    margin:1rem auto;
    cursor: pointer;
}





@include desktop-sm{
    .wrapper{
        width: 90%;
    }
}
@include tablet{

    .btn{
        width: 22rem;
    }
}
@include mobile{

}
@include mobile-sm{
    .btn{
        width: 20rem;
    }
}
