// var
$color_black:     #151515;
$color_dark:      #1f1f1f;
$color_darker:    #232323;
$color_theme:     #c8ab85;
$color_silver:    #bfbfbf;

// mixins
@mixin desktop-sm{
    @media only screen and (max-width: 1300px) {
        @content;
    }
}
@mixin tablet{
    @media only screen and (max-width: 1024px) {
        @content;
    }
}
@mixin mobile{
    @media only screen and (max-width: 768px) {
        @content;
    }
}
@mixin mobile-sm{
    @media only screen and (max-width: 480px) {
        @content;
    }
}
@mixin mobile-landscape{
    @media only screen and (max-width: 768px) and (orientation: landscape) {
        @content;
    }
}

////max 1300
// @include desktop-sm{
//
// }
////max 1024
// @include tablet{
//
// }
////max 768
// @include mobile{
//
// }
//// max 480
// @include mobile-sm{
//
// }
//// mobile landscape
//@include mobile-landscape{
//
//}

@mixin anim($name, $time, $delay, $timing-function:linear, $letterSpacing:0rem) {
    animation: #{$name} #{$time} #{$delay} forwards #{$timing-function};
    @include keyframe($name, $letterSpacing);
}
@mixin keyframe($name, $letterSpacing){
    @keyframes #{$name}{

        to{
            left: 0;
            opacity: 1;
            top: 0;
            letter-spacing: $letterSpacing;
            transform: scale(1);
        }

    }
}
body{
    background: $color_black;
    color: #fff;

}

.font_themed{
    font-family: 'Montserrat', sans-serif;
}
.color_themed{
    color: $color_theme;
}

section{
    align-content: center;
    background: $color_dark;
    display: grid;
    margin: 2rem auto 4rem;
    width: 90%;
}
.section__body{
    color: $color_silver;
    padding:12rem 0 10rem;
    width: 80rem;
    margin: auto;
    font-size: 1.4rem;
    text-align: center;
    p{
        text-align: justify;
        margin-bottom: 3rem;
    }
}
.section__title{
    font-family: 'Montserrat', sans-serif;
    // width: 100%;
    font-size: 1.8rem;
    // font-weight: bold;
    margin-bottom: 2rem;
    // top: -1rem;
    text-transform: uppercase;
    // position: absolute;
    // top:12rem;
    // z-index: 8;
    text-align: center;
    color: #4f4f4f;
    letter-spacing: .3rem;
}
// .section__title:after,
// .section__title:before{
//     content:"";
//     display: inline-block;
//     width: 4rem;
//     height: .4rem;
//     border-top: solid .1rem #fff;
// }
// .section__title:before{
//     margin-right: 1.5rem;
//
// }
// .section__title:after{
//     margin-left: 1rem;
// }

.cover{
    align-content: center;
    display: grid;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
// .animated{
//     opacity: 0;
//     top: 5rem;
// }
// .animated.show{
//     opacity: 1;
//     top: 0;
//     transition: .5s ease-out;
// }
.btn{
    display: inline-block;
    padding: 1.2rem 0;
    width: 24rem;
    text-align: center;
    border:solid .2rem $color_theme;
    border-radius: 2.5rem;
    color: $color_theme;
    font-size: 1.6rem;
    margin:6rem auto 0;
    cursor: pointer;
}
.btn_section{
    margin-top: 4rem;
}
a.btn{
    color: $color_theme;

}
.mobile_sm{
    display: none;
}
.Holdingpage{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: grid;
    align-content: center;
    .Holdingpage__title{
        margin-top: 3rem;
        font-size: 5.5rem;
        text-transform: uppercase;
        line-height: 1.1;
        padding: 0 5rem;
    }
    p{
        text-transform: uppercase;
        font-size: 1.8rem;
        margin-top: 5rem;
        padding: 0 3rem;
        line-height: 1.4;
    }
    .timer{
        text-align: center;
        margin-top: 2rem;
        color: $color_theme;
        div{
            display: inline-block;
            div{

                border: solid 1px $color_theme;
                display: inline-block;
                height: 10rem;
                width: 10rem;
                margin: .7rem;
                font-size: 5rem;
                line-height: 1;
                padding-top: 2rem;
            }
            span{
                font-size: 1.4rem;
                font-weight: bold;
                top: .8rem;
            }

        }
    }
}



@include desktop-sm{
    .section__body{
        width: 60rem;
    }
    section{
        margin: 1rem auto 4rem;
        width: 94%;
    }
}
@include tablet{
    .section__body{
        width: 70%;
    }
    .btn{
        width: 22rem;
    }
}
@include mobile{
    section{
        margin: 0 auto 2rem;
    }
    .section__body{
        width: 80%;
        padding-top: 10rem;
    }
    .section__title{
        font-size: 1.3rem;
    }
    .section__title:after,
    .section__title:before{
        width: 2rem;
    }
    .section__title:before{
        margin-right: .7rem;

    }
    .section__title:after{
        margin-left: .7rem;
    }
    .Holdingpage .Holdingpage__title{
        margin-top: 0;
    }
    .Holdingpage .timer{
        display: none;
    }
    .mobile{
        display: none;
    }
}
@include mobile-sm{
    .mobile_sm{
        display: block;
    }
    .btn{
        width: 20rem;
    }
    .section__title{
        padding: 0 3rem;
    }
    .section__title:after,
    .section__title:before{
        display: none;
    }
}
