@import './../../App.scss';  //import vars and mixins

.Nav{
    font-size: 1.2rem;
    position: absolute;
    top: 3.5rem;
    width: 100%;
    z-index: 9;
    text-align: left;
    padding: 0 9rem;
    section{
        background: none;
        display: grid;
        grid-template-columns:1fr auto;

    }
}
.Nav__brand{
    font-size: 2.2rem;
    font-weight: 500;
    text-transform: uppercase;


}

.Nav__media{
    display: none;
    img{
        height: 1.4rem;
    }
    a{
        padding: 0 .7rem;
    }
}
.Nav__pages{

    a{
        font-size: 1.2rem;
        text-transform: uppercase;
        margin-left:1.7rem;
        text-align: right;
    }
    a.selected{
        color: $color_theme;
    }

}


@include desktop-sm{

}
